# Blog / Portfolio Firebase project
VITE_BLOG_API_KEY=
VITE_BLOG_AUTH_DOMAIN=
VITE_BLOG_PROJECT_ID=
VITE_BLOG_STORAGE_BUCKET=
VITE_BLOG_MESSAGING_SENDER_ID=
VITE_BLOG_APP_ID=

# Doodles Firebase project
VITE_DOODLE_API_KEY=
VITE_DOODLE_AUTH_DOMAIN=
VITE_DOODLE_PROJECT_ID=
VITE_DOODLE_STORAGE_BUCKET=
VITE_DOODLE_MESSAGING_SENDER_ID=
VITE_DOODLE_APP_ID=
